<% provide(:title, @user.name) %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Music Lyric Database", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", '#' %></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Current User: <%= @user.name %>
      </h1>
      <h1>Playlists:</h1>
      <% @playlists.each do |playlist| %>
        <h3><%= link_to playlist.name, "/playlists/#{playlist.id}" %></h3>
        <h2><%= link_to "Delete Playlist", playlist_path(:playlist_id => playlist.id), :method => :delete %></h2>
      <% end %>
      <h2><%= link_to "Create a playlist", new_playlist_path %></h2>
    </section>
  </aside>
</div>