<!DOCTYPE html>
<html>
  <head>
    <title>Music Lyric Database</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Music Lyric Database", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", '#' %></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </body>
 <div class="center jumbotron">
 <h1><%= @artist.name %></h1>
 <h2>Genre: <%=link_to @genre.name, "/genres/#{@genre.id}" %></h2>
 <h2>Region: <%=link_to @region.name, "/regions/#{@region.id}" %></h2>
 <h2>Albums:</h2>
 <ul>
 <% @albums.each do |album| %>
  <li>
  <%=link_to album.title, "/albums/#{album.id}" %>
  </li>
 <%end%>
 </ul>