<!DOCTYPE html>
<html>
  <head>
    <title>Music Lyric Database</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Music Lyric Database", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", '#' %></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </body>
 <div class="center jumbotron">
 <% if params[:search] && (params[:search] != "")%>
 <h1>Results</h1>
<% if @artists.size > 0 %>
 <h2>Artists:</h2>
 <ul>
 <% @artists.each do |artist| %>
  <li>
  <%= link_to artist.name, "/artists/#{artist.id}" %>
  </li>
  <%end%>
  <% else %>
  <h2>No matching artists</h2>
  <%end%>
<% if @albums.size > 0 %>
 <h2>Albums:</h2>
 <ul>
 <% @albums.each do |album| %>
  <li>
  <%= link_to album.title, "/albums/#{album.id}" %>
  </li>
  <%end%>
  <% else %>
  <h2>No matching albums</h2>
  <%end%>
<% if @songs.size > 0 %>
 <h2>Songs:</h2>
 <ul>
 <% @songs.each do |song| %>
  <li>
  <%= link_to song.title, "/songs/#{song.id}" %>
  </li>
  <%end%>
  <% else %>
  <h2>No matching songs</h2>
  <%end%>
<% if @genres.size > 0 %>
 <h2>Genres:</h2>
 <ul>
 <% @genres.each do |genre| %>
  <li>
  <%= link_to genre.name, "/genres/#{genre.id}" %>
  </li>
  <%end%>
  <% else %>
  <h2>No matching genres</h2>
  <%end%>
  <% if @regions.size > 0 %>
 <h2>Regions:</h2>
 <ul>
 <% @regions.each do |region| %>
  <li>
  <%= link_to region.name, "/regions/#{region.id}" %>
  </li>
  <%end%>
  <% else %>
  <h2>No matching regions</h2>
  <%end%>
  <% else %>
  <h1>No Search Entered</h1>
 <%end%>
 </ul>